.home-background{
  height: 95vh;
  overflow: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-background::before {
  content: '';
  background-image: url('../assests/img1.jpg');
  /* background: linear-gradient(to right, #74ebd5, #acb6e5); */
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  z-index: -1;
}
