
.news-body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../assests/img1.jpg");
  overflow:hidden
}


.categories-sidebar {
    margin-top: 10px;
    height: 345px;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 10px;

  }
  